# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter / Dart / Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Firebase & Google Cloud credentials
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
google-services.json
GoogleService-Info.plist

# Android local config
local.properties

# Environment variables & secrets
.env
.env.local

# API keys / secret files
lib/api/notification_access_token.dart
lib/config/api_keys.dart
lib/constants/secrets.dart

# Local Firebase
.runtimeconfig.json